[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
flask = "*"
flask-migrate = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-bcrypt = "*"
python-dotenv = "*"
werkzeug = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
